		
      
          .informationtitle{
              text-align: center;
                color:rgb(245, 206, 147)
            }
            .intro{
			  color: rgb(128, 0, 117);
			  font: small;
              font-family: "roboto";
			}
			p {
			  color: darkblue;
			  font: small;
              font-family: "roboto" ;
			}
            nav li {
            display: inline;
             }
             .menu a{
                color:hotpink;
                
                 }
            li{
            list-style: none;
                     }
            header{
             color:indigo;
             display : inline-block;
             border-style :solid ;
                                 }         
              .intro{
                display :block;
              }              
             p{
                width: 500px;
                height :500px;
                border: 5px;
                border-style: none;
                text-align: justify;
               display: inline-block;
                padding : 5% 5% 5% 10% ;           
                    }   

               .service{
                 display: block;
                 
                 
               }     
              .service1{
                display: block;
                border: ivory;
                border-style: none;
                border-radius: 10px 10px;
                text-align: center;
                font-family:'Times New Roman', Times, serif ;
                font-style: oblique;
                text-align: center;
                background-color: mediumspringgreen;
                display: inline-block;
                padding :0% 5% 0% 0% ;
                width: 500px;
                height: 200px;
              
              }

              .service2{
                display: block;
                border: ivory;
                border-style: none;
                border-radius: 10px 10px;
                text-align: center;
                font-family:'Times New Roman', Times, serif ;
                font-style: oblique;
                text-align: center;
                background-color: pink;
                display: inline-block;
                padding :0% 5% 0% 0% ;
                width: 500px;
                height: 200px;
              }              
             
              .service3{
                display: block;
                border: ivory;
                border-style: none;
                border-radius: 10px 10PX;
                text-align: center;
                font-family:'Times New Roman', Times, serif ;
                font-style: oblique;
                background-color:teal;
                display: inline-block;
                padding :0% 5% 0% 0% ;
                width: 500px;
                height: 200px;
              }
              
		